$gris: #a7a9ac;
$bleuLiens: #9dafbf;
$OrangeBoutons: #ff9600;
$OrangeLiens:#cf7200;
$grisBleu: #3b444c;
$bleuTeinte1: rgba(36, 90, 122, 0.9);
$bleuTeinte2: rgba(3, 67, 106, 0.9);
$bleuTeinte3: rgba(100, 168, 209, 0.9);