@media only screen and (min-width : 420px) and (max-width : 500px) {
	body {
		width: auto;
		
	}
	section#main {
		width: 0 auto;
		li{
			padding: 20px 17px;
			margin: 20px 0 0 10px;
		}
		span{
			font-size: 14px;
		}
		figure.box{
			max-width: 95%;
		}
		figure.little{
			margin-left: 120px;
		}
	}
	section#trombino {
		display: none;
	}
	nav#menu{
		margin-top: 150px;
		ul {
			padding-left: 0;
		}
		li{
			width: 50%;
		}
	}
	div#logo{
			position: absolute;
			width: 412px;
			height: 113px;
			top: -125px;
			left: 0;
		}
}

@media only screen and (min-width: 500px) and (max-width: 700px){
	nav#menu{
		margin-top: 150px;
		ul {
			padding-left: 0;
		}
		li{
			width: 33%;
		}
	}
	div#logo{
			position: absolute;
			width: 412px;
			height: 113px;
			top: -125px;
			left: 100px;
	}
	section#trombino {
		display: none;
	}
	section#main {
		width: 0 auto;
		li{
			padding: 20px 17px;
			margin: 20px 0 0 25px;
		}
		span{
			font-size: 16px;
		}
	}
}
@media only screen and (min-width: 700px) and (max-width: 1100px){
	nav#menu{
		margin-top: 150px;
		ul {
			padding-left: 0;
		}
		li{
			width: 20%;
		}
	}
	div#logo{
			position: absolute;
			width: 412px;
			height: 113px;
			top: -125px;
	}
	section#trombino img {
		max-width: 95%;
	}
	section#main {
		width: 90%;	
	}
}
@media only screen and (min-width: 1100px) and (max-width: 1580px){
	section#main {
		width: 1000px;	
	}
	nav#menu{
		ul {
			padding-left: 350px;
		}
		li{
			width: 20%;
		}
	}
	div#logo{
			position: absolute;
			width: 412px;
			height: 113px;
			left: -10px;
	}
	section#trombino img {
		max-width: 85%;
	}
}
@media only screen and (min-width: 1580px){
	section#main {
		width: 1000px;	
	}
}