@import "compass";
@import "colors";
@import "compass/reset";
@import "normalize";

html{
background: url('../img/brushed.png');
}

h1.cache {
	position: absolute;
	text-indent: -101%;
}

body {
	width: 100%;
	font-family: "Lato", "Helvetica Neue", "Arial", sans-serif;
	position: relative;
	section#trombino img {
		margin: 0 auto;
		display: block;
	}
	h2 {
		color: $grisBleu;
		font-family:"Lato Light", "Franklin Gothic Book";
		font-size: 25px;
		margin: 10px 0 20px 20px;
		font-weight: bold;
	}
	a{
		text-decoration: none;
		color: $OrangeLiens;
		&:hover {
			text-decoration: underline;
		}
	}
}

#logo{
	position: absolute;
	width: 412px;
	height: 113px;
	top: -16px;
	left: 137px;
}

/* BARRE DE NAVIGATION */

nav#menu {
	margin-top: 40px;
	background-color: $grisBleu;
	@include single-box-shadow;
	ul {
		padding-left: 600px;
	}
	li {
	display: inline;
	float: left;
	width: 150px;
	text-align: center;
	}
	a {
	text-decoration: none;
	display: block;
	color: $bleuLiens;
	text-transform: uppercase;
	padding: 22px;
		span.menu {
			font-size: 12px;
			text-transform: none;
			display: block;
			font-family: "Gotham";
		}
	}
	a:hover{
		color: white;
		background-color: $OrangeBoutons;
	}
}

/* SECTION PRINCIPALE */

section#main {
	margin: 30px auto;
	/*width: 1000%;*/
	background-color: rgba(220, 220, 220, 1);
	h1 {
		font-family:"Lato Light", "Franklin Gothic Book";
		font-size: 25px;
		margin: 40px 0 25px 0;
		color: white;
		background-color: $grisBleu;
		line-height: 60px;
		@include single-box-shadow;
		padding-left: 20px;
	}

/* Accueil */

	li {
		padding: 20px 0;
		margin: 25px 19px 0 19px;
		width: 21%;
		display: inline;
		color: $grisBleu;
		float: left;
		@include border-radius(20px);
		font-size: 18px;
	}
	.color1 {
			background-color: rgba(255, 150, 0, 0.7);
		}
	.color2 {
		background-color: rgba(150, 150, 150, 1);
	}
	span.spanComp {
		display: block;
		text-align: center;
		font-weight: bold;
	}
	article.propos {
	margin-top: 40px;
	font-size: 20px;
	}
	
	p{
		margin-left: 20px;
		font-size: 20px;
	}
	p.accueil{
		margin-top: 30px;
	}
	.adjust{
		visibility: hidden;
	}

/*Mise en place images + effet */

	figure {
		margin-left: 20px;
		margin-top: 20px;
		@include single-box-shadow;
	}	
	figure.box {
		overflow: hidden;
		position: relative;
		figcaption {
			position: absolute;
			bottom:0;
			left:0;
			margin-bottom: -100px;
			background-color: rgba(1,1,1,0.7);
			color: white;
			padding: 10px;
			@include transition(margin-bottom 0.3s ease-in, color 0.5s ease-out);
		}
	}
	figure.box:hover figcaption {
		margin-bottom: 0;
	}
	figure.big {
		width: 460px;
		height: 310px;
	}
	figure.little {
		width: 230px;
		height: 145px;
	}
	figure{
		float: left;
	}

/* Contact */
	form.poster {
		padding: 20px;
		label{
			display: block;
		}
		input,textarea{
			@include border-radius(5px);
			padding: 10px;
			border: none;
			margin: 5px 0 10px 0;
		}
		input#submit {
			display: block;
			background-color: $grisBleu;
			color: white;
			cursor: pointer;
		}
	}
/* Blog */
	article.articlesBlog {
		span{
			font-size: 16px;
		}
		p{
			margin-left: 40px;
			margin-bottom: 20px;
		}
		a.commentaires{
			margin: 40px;
			line-height: 40px;
		}
	}
}

/* Mise en place de la page projet type */

section#projet {
	margin: 30px auto;
	width: 960px;
	background-color: rgba(220, 220, 220, 1);
	position: relative;
	h2 {
		font-family:"Lato Light", "Franklin Gothic Book";
		font-size: 25px;
		margin-top: 40px;
		color: white;
		background-color: $grisBleu;
		width: 98%;
		line-height: 60px;
		@include single-box-shadow;
		padding-left: 20px;
	}
	article.left{
		margin-top: 40px;
		margin-left: 20px;
		font-size: 20px;
		h2 {
			font-size: 25px;
			margin-bottom: 30px;
		}
		p {
			margin-bottom: 20px;
		}
	}
	article.right{
		@extend .left;
		float: right;
		text-align: right;
		margin-right: 20px;
	}
	img{
		@include single-box-shadow;
	}
	.img1{
		float: right;
		margin: 65px 20px 0 40px;
	}
	.img2{
		float: left;
		margin: 65px 20px 40px 0;
	}
}

article.left:after,article.right:after,section#projet:after,section#main:after,section#main div:after, section#main ul:after,section#main:after,nav#menu:after {
	content: "";
	display: block;
	clear: both;
}


@import "mediasQueries";
