/* line 17, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

html {
  line-height: 1;
}

/* line 24, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

ol,
ul {
  list-style: none;
}

/* line 26, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

q,
blockquote {
  quotes: none;
}

/* line 103, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

a img {
  border: none;
}

/* line 116, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

/*! normalize.css v2.1.3 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 8/9.
 */

/* line 22, ../scss/_normalize.scss */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

/* line 32, ../scss/_normalize.scss */

audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

/* line 41, ../scss/_normalize.scss */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */

/* line 52, ../scss/_normalize.scss */

[hidden],
template {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

/* line 66, ../scss/_normalize.scss */

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */

/* line 76, ../scss/_normalize.scss */

body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

/* line 88, ../scss/_normalize.scss */

a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

/* line 96, ../scss/_normalize.scss */

a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

/* line 105, ../scss/_normalize.scss */

a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */

/* line 118, ../scss/_normalize.scss */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

/* line 127, ../scss/_normalize.scss */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

/* line 136, ../scss/_normalize.scss */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

/* line 144, ../scss/_normalize.scss */

dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */

/* line 152, ../scss/_normalize.scss */

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

/* line 162, ../scss/_normalize.scss */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

/* line 174, ../scss/_normalize.scss */

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

/* line 183, ../scss/_normalize.scss */

pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */

/* line 191, ../scss/_normalize.scss */

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

/* line 199, ../scss/_normalize.scss */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

/* line 208, ../scss/_normalize.scss */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 215, ../scss/_normalize.scss */

sup {
  top: -0.5em;
}

/* line 219, ../scss/_normalize.scss */

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */

/* line 231, ../scss/_normalize.scss */

img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

/* line 239, ../scss/_normalize.scss */

svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */

/* line 251, ../scss/_normalize.scss */

figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Define consistent border, margin, and padding.
 */

/* line 263, ../scss/_normalize.scss */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

/* line 274, ../scss/_normalize.scss */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

/* line 288, ../scss/_normalize.scss */

button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

/* line 300, ../scss/_normalize.scss */

button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

/* line 312, ../scss/_normalize.scss */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

/* line 327, ../scss/_normalize.scss */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

/* line 337, ../scss/_normalize.scss */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

/* line 347, ../scss/_normalize.scss */

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

/* line 358, ../scss/_normalize.scss */

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

/* line 371, ../scss/_normalize.scss */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

/* line 380, ../scss/_normalize.scss */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

/* line 390, ../scss/_normalize.scss */

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

/* line 403, ../scss/_normalize.scss */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 6, ../scss/screen.scss */

html {
  background: url("../img/brushed.png");
}

/* line 10, ../scss/screen.scss */

h1.cache {
  position: absolute;
  text-indent: -101%;
}

/* line 15, ../scss/screen.scss */

body {
  width: 100%;
  font-family: "Lato", "Helvetica Neue", "Arial", sans-serif;
  position: relative;
}

/* line 19, ../scss/screen.scss */

body section#trombino img {
  margin: 0 auto;
  display: block;
}

/* line 23, ../scss/screen.scss */

body h2 {
  color: #3b444c;
  font-family: "Lato Light", "Franklin Gothic Book";
  font-size: 25px;
  margin: 10px 0 20px 20px;
  font-weight: bold;
}

/* line 30, ../scss/screen.scss */

body a {
  text-decoration: none;
  color: #cf7200;
}

/* line 33, ../scss/screen.scss */

body a:hover {
  text-decoration: underline;
}

/* line 39, ../scss/screen.scss */

#logo {
  position: absolute;
  width: 412px;
  height: 113px;
  top: -16px;
  left: 137px;
}

/* BARRE DE NAVIGATION */

/* line 49, ../scss/screen.scss */

nav#menu {
  margin-top: 40px;
  background-color: #3b444c;
  -webkit-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}

/* line 53, ../scss/screen.scss */

nav#menu ul {
  padding-left: 600px;
}

/* line 56, ../scss/screen.scss */

nav#menu li {
  display: inline;
  float: left;
  width: 150px;
  text-align: center;
}

/* line 62, ../scss/screen.scss */

nav#menu a {
  text-decoration: none;
  display: block;
  color: #9dafbf;
  text-transform: uppercase;
  padding: 22px;
}

/* line 68, ../scss/screen.scss */

nav#menu a span.menu {
  font-size: 12px;
  text-transform: none;
  display: block;
  font-family: "Gotham";
}

/* line 75, ../scss/screen.scss */

nav#menu a:hover {
  color: white;
  background-color: #ff9600;
}

/* SECTION PRINCIPALE */

/* line 83, ../scss/screen.scss */

section#main {
  margin: 30px auto;
  /*width: 1000%;*/
  background-color: gainsboro;
  /* Accueil */
  /*Mise en place images + effet */
  /* Contact */
  /* Blog */
}

/* line 87, ../scss/screen.scss */

section#main h1 {
  font-family: "Lato Light", "Franklin Gothic Book";
  font-size: 25px;
  margin: 40px 0 25px 0;
  color: white;
  background-color: #3b444c;
  line-height: 60px;
  -webkit-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  padding-left: 20px;
}

/* line 100, ../scss/screen.scss */

section#main li {
  padding: 20px 0;
  margin: 25px 19px 0 19px;
  width: 21%;
  display: inline;
  color: #3b444c;
  float: left;
  -o-border-radius: 20px;
  border-radius: 20px;
  font-size: 18px;
}

/* line 110, ../scss/screen.scss */

section#main .color1 {
  background-color: rgba(255, 150, 0, 0.7);
}

/* line 113, ../scss/screen.scss */

section#main .color2 {
  background-color: #969696;
}

/* line 116, ../scss/screen.scss */

section#main span.spanComp {
  display: block;
  text-align: center;
  font-weight: bold;
}

/* line 121, ../scss/screen.scss */

section#main article.propos {
  margin-top: 40px;
  font-size: 20px;
}

/* line 126, ../scss/screen.scss */

section#main p {
  margin-left: 20px;
  font-size: 20px;
}

/* line 130, ../scss/screen.scss */

section#main p.accueil {
  margin-top: 30px;
}

/* line 133, ../scss/screen.scss */

section#main .adjust {
  visibility: hidden;
}

/* line 139, ../scss/screen.scss */

section#main figure {
  margin-left: 20px;
  margin-top: 20px;
  -webkit-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}

/* line 144, ../scss/screen.scss */

section#main figure.box {
  overflow: hidden;
  position: relative;
}

/* line 147, ../scss/screen.scss */

section#main figure.box figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -100px;
  background-color: rgba(1, 1, 1, 0.7);
  color: white;
  padding: 10px;
  -webkit-transition: margin-bottom 0.3s ease-in, color 0.5s ease-out;
  transition: margin-bottom 0.3s ease-in, color 0.5s ease-out;
}

/* line 158, ../scss/screen.scss */

section#main figure.box:hover figcaption {
  margin-bottom: 0;
}

/* line 161, ../scss/screen.scss */

section#main figure.big {
  width: 460px;
  height: 310px;
}

/* line 165, ../scss/screen.scss */

section#main figure.little {
  width: 230px;
  height: 145px;
}

/* line 169, ../scss/screen.scss */

section#main figure {
  float: left;
}

/* line 174, ../scss/screen.scss */

section#main form.poster {
  padding: 20px;
}

/* line 176, ../scss/screen.scss */

section#main form.poster label {
  display: block;
}

/* line 179, ../scss/screen.scss */

section#main form.poster input,
section#main form.poster textarea {
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  border: none;
  margin: 5px 0 10px 0;
}

/* line 185, ../scss/screen.scss */

section#main form.poster input#submit {
  display: block;
  background-color: #3b444c;
  color: white;
  cursor: pointer;
}

/* line 194, ../scss/screen.scss */

section#main article.articlesBlog span {
  font-size: 16px;
}

/* line 197, ../scss/screen.scss */

section#main article.articlesBlog p {
  margin-left: 40px;
  margin-bottom: 20px;
}

/* line 201, ../scss/screen.scss */

section#main article.articlesBlog a.commentaires {
  margin: 40px;
  line-height: 40px;
}

/* Mise en place de la page projet type */

/* line 210, ../scss/screen.scss */

section#projet {
  margin: 30px auto;
  width: 960px;
  background-color: gainsboro;
  position: relative;
}

/* line 215, ../scss/screen.scss */

section#projet h2 {
  font-family: "Lato Light", "Franklin Gothic Book";
  font-size: 25px;
  margin-top: 40px;
  color: white;
  background-color: #3b444c;
  width: 98%;
  line-height: 60px;
  -webkit-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  padding-left: 20px;
}

/* line 226, ../scss/screen.scss */

section#projet article.left,
section#projet article.right {
  margin-top: 40px;
  margin-left: 20px;
  font-size: 20px;
}

/* line 230, ../scss/screen.scss */

section#projet article.left h2,
section#projet article.right h2 {
  font-size: 25px;
  margin-bottom: 30px;
}

/* line 234, ../scss/screen.scss */

section#projet article.left p,
section#projet article.right p {
  margin-bottom: 20px;
}

/* line 238, ../scss/screen.scss */

section#projet article.right {
  float: right;
  text-align: right;
  margin-right: 20px;
}

/* line 244, ../scss/screen.scss */

section#projet img {
  -webkit-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}

/* line 247, ../scss/screen.scss */

section#projet .img1 {
  float: right;
  margin: 65px 20px 0 40px;
}

/* line 251, ../scss/screen.scss */

section#projet .img2 {
  float: left;
  margin: 65px 20px 40px 0;
}

/* line 257, ../scss/screen.scss */

article.left:after,
section#projet article.right:after,
article.right:after,
section#projet:after,
section#main:after,
section#main div:after,
section#main ul:after,
section#main:after,
nav#menu:after {
  content: "";
  display: block;
  clear: both;
}

@media only screen and (min-width: 360px) and (max-width: 500px) {
  /* line 2, ../scss/_mediasQueries.scss */

  body {
    width: auto;
  }

  /* line 6, ../scss/_mediasQueries.scss */

  section#main {
    width: 0 auto;
  }

  /* line 8, ../scss/_mediasQueries.scss */

  section#main li {
    padding: 20px 15px;
    margin: 20px 0 0 10px;
  }

  /* line 12, ../scss/_mediasQueries.scss */

  section#main span {
    font-size: 14px;
  }

  /* line 16, ../scss/_mediasQueries.scss */

  section#trombino {
    display: none;
  }

  /* line 19, ../scss/_mediasQueries.scss */

  nav#menu {
    margin-top: 150px;
  }

  /* line 21, ../scss/_mediasQueries.scss */

  nav#menu ul {
    padding-left: 0;
  }

  /* line 24, ../scss/_mediasQueries.scss */

  nav#menu li {
    width: 50%;
  }

  /* line 28, ../scss/_mediasQueries.scss */

  div#logo {
    position: absolute;
    width: 412px;
    height: 113px;
    top: -125px;
    left: 0;
  }
}