/* line 17, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

html {
  line-height: 1;
}

/* line 24, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

ol,
ul {
  list-style: none;
}

/* line 26, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

q,
blockquote {
  quotes: none;
}

/* line 103, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

a img {
  border: none;
}

/* line 116, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

/* line 5, ../scss/screen.scss */

html {
  background: url("../img/brushed.png");
}

/* line 9, ../scss/screen.scss */

h1.cache {
  position: absolute;
  text-indent: -101%;
}

/* line 14, ../scss/screen.scss */

body {
  width: 100%;
  font: 14px/1.5 "Lato", "Helvetica Neue", "Arial", "Franklin Gothic Book" sans-serif;
  background-color: #dbd9a8;
  position: relative;
}

/* line 19, ../scss/screen.scss */

body section#trombino img {
  width: 100%;
  margin: 0 auto;
  display: block;
  z-index: 1000;
}

/* line 25, ../scss/screen.scss */

body h1 {
  font-size: 20px;
  color: black;
  line-height: 60px;
  padding: 15px 25px 0 0;
  text-transform: uppercase;
}

/* line 32, ../scss/screen.scss */

body h2 {
  font-size: 25px;
  margin: 10px 0 0px 20px;
  font-weight: bold;
}

/* line 37, ../scss/screen.scss */

body a {
  text-decoration: none;
  color: rgba(36, 90, 122, 0.9);
}

/* line 40, ../scss/screen.scss */

body a:hover {
  text-decoration: underline;
}

/* line 46, ../scss/screen.scss */

#logo {
  position: absolute;
  width: 412px;
  height: 113px;
  left: 137px;
}

/* BARRE DE NAVIGATION */

/* line 55, ../scss/screen.scss */

nav#menu {
  background-color: #dbd9a8;
  z-index: 10;
  -webkit-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}

/* line 59, ../scss/screen.scss */

nav#menu ul {
  padding-left: 600px;
}

/* line 62, ../scss/screen.scss */

nav#menu li {
  display: inline;
  float: left;
  width: 150px;
  text-align: center;
}

/* line 68, ../scss/screen.scss */

nav#menu a {
  text-decoration: none;
  display: block;
  color: black;
  text-transform: uppercase;
  padding: 10px;
}

/* line 74, ../scss/screen.scss */

nav#menu a span.menu {
  font-size: 12px;
  text-transform: none;
  display: block;
  font-family: "Gotham";
}

/* line 81, ../scss/screen.scss */

nav#menu a:hover {
  color: white;
  background-color: rgba(36, 90, 122, 0.9);
}

/* SECTION PRINCIPALE */

/* line 89, ../scss/screen.scss */

section#main {
  /*Mise en place images + effet */
  /* Contact */
  /* Blog */
}

/* line 90, ../scss/screen.scss */

section#main li {
  padding: 50px 0;
  width: 25%;
  display: inline;
  color: white;
  float: left;
  font-size: 18px;
}

/* line 98, ../scss/screen.scss */

section#main .color1 {
  background-color: rgba(36, 90, 122, 0.9);
}

/* line 101, ../scss/screen.scss */

section#main .color2 {
  background-color: rgba(3, 67, 106, 0.9);
}

/* line 104, ../scss/screen.scss */

section#main .color3 {
  background-color: rgba(100, 168, 209, 0.9);
}

/* line 107, ../scss/screen.scss */

section#main span.spanComp {
  display: block;
  text-align: center;
  font-weight: bold;
}

/* line 112, ../scss/screen.scss */

section#main article.propos {
  margin-top: 40px;
  font-size: 20px;
}

/* line 117, ../scss/screen.scss */

section#main p {
  margin-left: 20px;
  font-size: 20px;
}

/* line 121, ../scss/screen.scss */

section#main p.accueil {
  margin-top: 30px;
}

/* line 124, ../scss/screen.scss */

section#main .adjust {
  visibility: hidden;
}

/* line 130, ../scss/screen.scss */

section#main figure {
  margin-left: 20px;
  margin-top: 20px;
  -webkit-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}

/* line 135, ../scss/screen.scss */

section#main figure.box {
  overflow: hidden;
  position: relative;
}

/* line 138, ../scss/screen.scss */

section#main figure.box figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -170px;
  background-color: rgba(1, 1, 1, 0.7);
  color: white;
  padding: 10px;
  -webkit-transition: margin-bottom 0.3s ease-in, color 0.5s ease-out;
  transition: margin-bottom 0.3s ease-in, color 0.5s ease-out;
}

/* line 148, ../scss/screen.scss */

section#main figure.box p {
  font-size: 15px;
}

/* line 152, ../scss/screen.scss */

section#main figure.box:hover figcaption {
  margin-bottom: 0;
}

/* line 155, ../scss/screen.scss */

section#main figure.big {
  width: 460px;
  height: 310px;
}

/* line 159, ../scss/screen.scss */

section#main figure.little {
  width: 230px;
  height: 145px;
}

/* line 163, ../scss/screen.scss */

section#main figure {
  float: left;
}

/* line 168, ../scss/screen.scss */

section#main form.poster {
  padding: 20px;
}

/* line 170, ../scss/screen.scss */

section#main form.poster label {
  display: block;
}

/* line 173, ../scss/screen.scss */

section#main form.poster input,
section#main form.poster textarea {
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  border: none;
  margin: 5px 0 10px 0;
}

/* line 179, ../scss/screen.scss */

section#main form.poster input#submit {
  display: block;
  background-color: #3b444c;
  color: white;
  cursor: pointer;
}

/* line 188, ../scss/screen.scss */

section#main article.articlesBlog span {
  font-size: 16px;
}

/* line 191, ../scss/screen.scss */

section#main article.articlesBlog p {
  margin-left: 40px;
  margin-bottom: 20px;
}

/* line 195, ../scss/screen.scss */

section#main article.articlesBlog a.commentaires {
  margin: 40px;
  line-height: 40px;
}

/* ICONS */

/* line 203, ../scss/screen.scss */

.titreIcons {
  margin-left: 60px;
}

/* line 207, ../scss/screen.scss */

#briefPres:before {
  content: url("../img/icons/book.png");
  margin-right: 10px;
  position: relative;
  top: 7.5px;
}

/* line 214, ../scss/screen.scss */

#knowledge:before {
  content: url("../img/icons/drawer2.png");
  margin-right: 10px;
  position: relative;
  top: 7.5px;
}

/* line 221, ../scss/screen.scss */

#knowledge2:before {
  content: url("../img/icons/drawer.png");
  margin-right: 10px;
  position: relative;
  top: 7.5px;
}

/* line 228, ../scss/screen.scss */

.portfolio:before {
  content: url("../img/icons/screen.png");
  margin-right: 10px;
  position: relative;
  top: 7.5px;
}

/* line 235, ../scss/screen.scss */

#contact:before {
  content: url("../img/icons/mail2.png");
  margin-right: 10px;
  position: relative;
  top: 7.5px;
}

/* line 242, ../scss/screen.scss */

#about:before {
  content: url("../img/icons/pencil2.png");
  margin-right: 10px;
  position: relative;
  top: 7.5px;
}

/* line 249, ../scss/screen.scss */

#blog:before {
  content: url("../img/icons/notebook.png");
  margin-right: 10px;
  position: relative;
  top: 7.5px;
}

/* Mise en place de la page projet type */

/* line 258, ../scss/screen.scss */

section#projet {
  position: relative;
}

/* line 260, ../scss/screen.scss */

section#projet article.left,
section#projet article.right {
  margin-top: 40px;
  margin-left: 20px;
  font-size: 20px;
  float: left;
}

/* line 265, ../scss/screen.scss */

section#projet article.left h2,
section#projet article.right h2 {
  font-size: 25px;
  margin-bottom: 30px;
}

/* line 269, ../scss/screen.scss */

section#projet article.left p,
section#projet article.right p {
  margin-bottom: 20px;
}

/* line 273, ../scss/screen.scss */

section#projet article.right {
  float: right;
  text-align: right;
  margin-right: 20px;
}

/* line 279, ../scss/screen.scss */

section#projet img {
  -webkit-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}

/* line 282, ../scss/screen.scss */

section#projet .img1 {
  float: right;
  margin: 65px 20px 0 40px;
}

/* line 286, ../scss/screen.scss */

section#projet .img2 {
  float: left;
  margin: 65px 20px 40px 0;
}

/* line 292, ../scss/screen.scss */

article.left:after,
section#projet article.right:after,
article.right:after,
section#projet:after,
section#main:after,
section#main div:after,
section#main ul:after,
section#main:after,
nav#menu:after {
  content: "";
  display: block;
  clear: both;
}

/*
@import "mediasQueries";*/