/* line 17, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

html {
  line-height: 1;
}

/* line 24, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

ol,
ul {
  list-style: none;
}

/* line 26, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

q,
blockquote {
  quotes: none;
}

/* line 103, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

a img {
  border: none;
}

/* line 116, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

/* line 5, ../scss/screen.scss */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 8, ../scss/screen.scss */

html {
  background: url("../img/brushed.png");
}

/* line 12, ../scss/screen.scss */

body {
  width: 100%;
  font-family: "Lato", "Arial", sans-serif;
  position: relative;
}

/* line 16, ../scss/screen.scss */

body h1:first-child {
  background: url(../img/logosmall.PNG);
  background-repeat: no-repeat;
  text-indent: -101%;
  position: absolute;
  width: 412px;
  height: 113px;
  top: -10px;
  left: 137px;
}

/* line 26, ../scss/screen.scss */

body section#trombino img {
  margin: 0 auto;
  display: block;
  width: 960px;
  height: 293px;
}

/* line 32, ../scss/screen.scss */

body h3 {
  color: #3b444c;
  font-family: "Lato Light", "Franklin Gothic Book";
  font-size: 25px;
  margin-bottom: 20px;
  margin-left: 20px;
}

/* BARRE DE NAVIGATION */

/* line 43, ../scss/screen.scss */

nav#menu {
  margin-top: 40px;
  background-color: #3b444c;
  -webkit-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}

/* line 47, ../scss/screen.scss */

nav#menu ul {
  padding-left: 600px;
}

/* line 50, ../scss/screen.scss */

nav#menu li {
  display: inline;
  float: left;
  width: 150px;
  text-align: center;
}

/* line 56, ../scss/screen.scss */

nav#menu a {
  text-decoration: none;
  display: block;
  color: #9dafbf;
  text-transform: uppercase;
  padding: 22px;
}

/* line 62, ../scss/screen.scss */

nav#menu a span {
  font-size: 12px;
  text-transform: none;
  display: block;
  font-family: "Gotham";
}

/* line 69, ../scss/screen.scss */

nav#menu a:hover {
  color: white;
  background-color: #ff9600;
}

/* SECTION PRINCIPALE */

/* line 77, ../scss/screen.scss */

section#main {
  margin: 30px auto;
  width: 1000px;
  background-color: gainsboro;
}

/* line 81, ../scss/screen.scss */

section#main h2 {
  font-family: "Lato Light", "Franklin Gothic Book";
  font-size: 25px;
  margin: 40px 0 25px 0;
  color: white;
  background-color: #3b444c;
  width: 98%;
  line-height: 60px;
  -webkit-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  padding-left: 20px;
}

/* line 92, ../scss/screen.scss */

section#main li {
  padding: 5px 0;
  margin: 25px 19px 0 19px;
  width: 21%;
  display: inline;
  color: #3b444c;
  float: left;
  -o-border-radius: 20px;
  border-radius: 20px;
  font-size: 18px;
}

/* line 102, ../scss/screen.scss */

section#main .color1 {
  background-color: rgba(255, 150, 0, 0.7);
}

/* line 105, ../scss/screen.scss */

section#main .color2 {
  background-color: #969696;
}

/* line 108, ../scss/screen.scss */

section#main span {
  display: block;
  text-align: center;
  font-weight: bold;
  padding: 30px;
}

/* line 114, ../scss/screen.scss */

section#main article.propos {
  margin-top: 40px;
  font-size: 20px;
}

/* line 119, ../scss/screen.scss */

section#main p {
  margin-left: 20px;
  font-size: 20px;
}

/* line 123, ../scss/screen.scss */

section#main p.accueil {
  margin-top: 30px;
}

/* line 126, ../scss/screen.scss */

section#main .adjust {
  visibility: hidden;
}

/* line 129, ../scss/screen.scss */

section#main li.contact {
  width: 200px;
  float: left;
}

/* line 132, ../scss/screen.scss */

section#main li.contact p {
  display: block;
  clear: both;
}

/* line 136, ../scss/screen.scss */

section#main li.contact img {
  position: relative;
  left: 20px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 142, ../scss/screen.scss */

section#main figure {
  margin-left: 20px;
  margin-top: 20px;
  -webkit-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}

/* line 147, ../scss/screen.scss */

section#main figure.box {
  overflow: hidden;
  position: relative;
}

/* line 150, ../scss/screen.scss */

section#main figure.box figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -60px;
  background-color: rgba(1, 1, 1, 0.7);
  color: white;
  -webkit-transition: margin-bottom 0.3s ease-in, color 0.35s ease-out;
  transition: margin-bottom 0.3s ease-in, color 0.35s ease-out;
}

/* line 160, ../scss/screen.scss */

section#main figure.box:hover figcaption {
  margin-bottom: 0;
}

/* line 163, ../scss/screen.scss */

section#main figure.big {
  width: 460px;
  height: 310px;
}

/* line 167, ../scss/screen.scss */

section#main figure.little {
  width: 230px;
  height: 145px;
}

/* line 171, ../scss/screen.scss */

section#main figure {
  float: left;
}

/* line 177, ../scss/screen.scss */

section#projet {
  margin: 30px auto;
  width: 960px;
  background-color: gainsboro;
  position: relative;
}

/* line 182, ../scss/screen.scss */

section#projet h2 {
  font-family: "Lato Light", "Franklin Gothic Book";
  font-size: 25px;
  margin-top: 40px;
  color: white;
  background-color: #3b444c;
  width: 98%;
  line-height: 60px;
  -webkit-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  padding-left: 20px;
}

/* line 193, ../scss/screen.scss */

section#projet article.left,
section#projet article.right {
  margin-top: 40px;
  margin-left: 20px;
  font-size: 20px;
}

/* line 197, ../scss/screen.scss */

section#projet article.left h3,
section#projet article.right h3 {
  color: #3b444c;
  font-family: "Lato Light", "Franklin Gothic Book";
  font-size: 25px;
  margin-bottom: 30px;
}

/* line 203, ../scss/screen.scss */

section#projet article.left p,
section#projet article.right p {
  margin-bottom: 20px;
}

/* line 207, ../scss/screen.scss */

section#projet article.right {
  float: right;
  text-align: right;
  margin-right: 20px;
}

/* line 213, ../scss/screen.scss */

section#projet img {
  -webkit-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}

/* line 216, ../scss/screen.scss */

section#projet .img1 {
  float: right;
  margin: 65px 20px 0 40px;
}

/* line 220, ../scss/screen.scss */

section#projet .img2 {
  float: left;
  margin: 65px 20px 40px 0;
}

/* line 226, ../scss/screen.scss */

article.left:after,
section#projet article.right:after,
article.right:after,
section#projet:after,
section#main:after,
section#main div:after,
section#main ul:after,
section#main:after,
nav#menu:after {
  content: "";
  display: block;
  clear: both;
}